/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-community-gallery-tags-gallery {
	box-sizing: border-box;

	&.aligncenter {
		.community-gallery-tags-gallery {
			margin: 0 auto;
		}
	}

	#cgt-filters {
		display: flex;
		gap: 0.5em var(--wp--preset--spacing--80, 5.06rem);
		flex-wrap: wrap;
		justify-content: center;
		margin-top: var(--wp--preset--spacing--80, 5.06rem);
		margin-bottom: var(--wp--preset--spacing--80, 5.06rem);
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width: 600px) {
			flex-direction: column;
			gap: 0.5em;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.selected {
			font-weight: 700;
			text-decoration: underline;
		}
	}

	.community-gallery-tags-gallery {
		padding: 0;
		list-style-type: none;

		> li.media {
			position: relative;
			margin: 0 0 var(--wp--preset--spacing--80, 5.06rem);
			width: 300px;
			font-size: 0.8em;

			&.hidden {
				display: none;
			}
			img {
				width: 100%;
				height: auto;
			}
			ul.term-list {
				padding: 0;
				display: inline;

				li {
					display: inline;

					&::after {
						content: ", ";
					}

					&:last-child::after {
						content: "";
					}
				}
			}
		}
	}
}

#cgt-dialog-form {
	input#cgt-tag {
		box-sizing: border-box;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		padding: 0.5em 0.8em;
		width: 100%;
	}
}

.ui-autocomplete.wp-tags-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;

	background: #fff;
	border: 1px solid #888;
	list-style-type: none;
	padding: 0 0.3em;
}
