/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-community-gallery-tags-gallery {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

#cgt-dialog-form {
	input#cgt-tag {
		width: 100%;
	}
}

.ui-autocomplete.wp-tags-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;

	background: #fff;
	border: 1px solid #888;
	list-style-type: none;
	padding: 0 0.3em;
}
